<ion-view view-title="Quiz Taker" hide-back-button="true">
  <ion-content class="mainbody">
    <div class="oathButtonPosition">
    <div class="buttonForOath">
      <button class="button button-block button-positive buttonInline" ng-click="login()">
        Administration Login
      </button>
    </div>
    <div class="buttonForOath">
      <button class="button button-block button-positive buttonInline" ng-click="login()">
        Take Quiz
      </button>
    </div>
    </div>
  </ion-content>
</ion-view>

